body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

.heading{
	color:#F0E6EF;
	font-family:impact;
	background-color:#654597;
	font-size:400%;
	font-weight: bold;
	text-align: center;
	
}

.title{
	font-family: cursive;
	font-size: 150%;
	color: mediumturquoise;
}

img{  
	border:2px dotted black;
	height:350px;
	width: 350px;
}

ul{
  list-style-type: none;
}

.needSpace{
	margin:20px;
	
}


